@inherits LayoutComponentBase

<PageTitle>E_Commerce_Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4">
            <E_Commerce_Server.Shared.AdminView.ViewAccount></E_Commerce_Server.Shared.AdminView.ViewAccount>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
