<AuthorizeView>
    <Authorized>
        Hi! @context.User.Identity.Name
        <a href="Identity/Account/Logout">Logout</a>
    </Authorized>

    <NotAuthorized>
        <a href="Identity/Account/Login">Login</a>
        <a href="Identity/Account/Register">Register</a>
    </NotAuthorized>

</AuthorizeView>
